{% load staticfiles %}
<html>
    <head>
        <title>Jess i jej strona</title>
          <link rel="stylesheet" href="{% static 'css/listaZakupow.css' %}">
    </head>
    <body>
            <div>

                <h1>Nazwa : {{ lista.nazwa }}</a></h1>
                <p>Lista : {{ lista.lista |linebreaks }}</p>
                <p>Do Kiedy : {{ lista.do_kiedy }}</p>
                <a class="button" href="{% url 'post_edit' pk=lista.pk %}">Edycja</a>
                <a class="button" href="{% url 'show_listas' %}">Powrot</a>
            </div>

    </body>
</html>
