<html>
    <head>
        <title>Jess i jej strona</title>
    </head>
    <body>
        <div>
            <h1>A tu jakiś szajs</h1>
        </div>

        <div>
            <h2><a href="">Pierwsza lista</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>published: 14.06.2014, 12:14</p>
          </div>

        <div>

            <h2>Duga lista</h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>published: 14.06.2017, 15:14</p>
        </div>
    </body>
</html>
